.main-content{}
.head-line{font-weight:1.4em;font-size:40px;width:100%;text-align:center;}
.sbutton{float:right;padding:1em; 0.6em;1em; 0}
button[type="submit"].submitbtn {text-align: center;border-radius: 0.250em;background-color:#1a1a1a;color: #f2f2f2;font-weight: 1.4em;border: none;cursor: pointer;padding:0.4em;}
img {width:200px;height: 220px;}
ul li{text-decoration:none;}
.main-content ul li{display:inline-block;border:1px solid #e2e2e2;border-radius:4px;margin:0.4em 1em 1em 1em;padding:0.6em;}
.main-content ul li:hover{border:1px solid #ccc;box-shadow:#eee 4px 4px 4px 4px;}
.cent-content ul li{display:block;border:1px solid #e2e2e2;border-radius:4px;margin:0.4em 1em 1em 1em;padding:0.6em;width:65%;}
ul li span{display:block;padding:0.4em 0 0 0.4em;}
.cent-content ul li span{display:inline-block;}
.price{height: 200px;position: absolute;padding: 6em 0 0 4em;display:inline-block;}
.cent-content{margin:1em 0 1em 5em;}
.wrap {width: 80%;margin: 0 auto;vertical-align: middle;position: relative;display: block;content: "";}
.masthead .wrap {padding: 0 0.125em;}
.masthead {background-color: #1a1a1a;color: #f2f2f2;padding: 0.5em 0;}
footer {background-color: #1a1a1a;width: 99%;margin-top: 4em;position: absolute;}
footer .copyrightstatment {font-size: 1em;color:#f2f2f2;text-align: center;margin: -0.4em 0 0.4em 0;padding: 0.6em 0 0.6em 0;}
.total-val{width:45%;text-align:center;display:inline-block;}